body{
    font-family: montserrat, sans-serif;
    background: #fefefe;
    /* background: linear-gradient(#fefefe,#888888); */
    margin: 0;
    padding: 0;
    border: 0;
}

.caixa{
    position: relative;
    width: 100%;
    margin: 0 auto;
}

h1 img{
    padding-left: 300px;
}

h4{
  top: 100px;
  position: absolute;
  /* margin: 40px; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 38px;
  left: 0px; 
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px; 
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

ul{
    display: inline-block;
    vertical-align: top;
    /*width: 20%;
    margin-right: 15%;*/
}

main{
    
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.banner_barbearia{
    width: 100%;
}

.principal{
    background-color: #cccccc;
    padding: 30px;
    width: 940px;
    margin: 0 auto;
}

.principal p{
    margin: 0 0 1em;
    /* text-align: center; */
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}
.titulo-benef{
    text-align: center; 
    
}

#missao{
    font-size: 20px; 
}

.mapa{
    padding: 3em 0; 

}

/* em strong{
    color: red;
} */

/* .itens{
    font-style: italic;
} */

.titulo-benef{
    /* background: white; */
    padding: 20px;
    font-size: 30px;
    width: 100%;
}

#cards-benef {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 940px;
    margin: 0 auto;
}

#card_atend-cli h2{
    margin: 3%;
    text-align: center;
    font-size: 20px;
} 
/* Cartão de Beneficios */
#card_atend-cli{
    border-radius: 5px;
    box-shadow: 2px 5px 8px 5px rgba(50, 50, 50, 0.10);
    padding: 10px;
    margin: 20px;
    width: 300px;
    border: 1px ;
    transition: all 0.3s ease-out;
}
/* Imagen do Cartão de Beneficios */
.img_atend-cli{
    width: 300px;
}

.img_footer{
    width: 90px;
    padding: 5px 0;
}

footer{
    text-align: center;
    background: url(/img/bg.jpg);
    padding: 3px 0;
}

.copyright{
    color: white;
    font-weight: bold;
    font-size: 13px;
}

@media screen and (max-width: 480px) {
    .caixa, .principal, .cards-benef, .mapa {
        width: auto;
    }
}