body{
    font-family: montserrat, sans-serif;
    background: linear-gradient(#fefefe,#888888);
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

h1 img{
    padding-left: 300px;
}

h4{
  top: 100px;
  position: absolute;
  /* margin: 40px; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 38px;
  left: 0px; 
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px; 
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

ul{
    display: inline-block;
    vertical-align: top;
    /*width: 20%;
    margin-right: 15%;*/
}

main{
    /* width: 940px;
    margin: 0 auto; */
    
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.banner_barbearia{
    width: 100%;
}

.principal{
    background-color: #cccccc;
    padding: 30px;
    width: 100%;
}

.principal p{
    margin: 0 0 1em;
    /* text-align: center; */
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}
.titulo-benef{
    text-align: center; 
    
}

#missao{
    font-size: 20px; 
}


.titulo-benef{
    /* background: white; */
    padding: 20px;
    font-size: 30px;
    width: 100%;
}

#cards-benef {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 940px;
    margin: 0 auto;
}

#card_atend-cli h2{
    margin: 3%;
    text-align: center;
    font-size: 20px;
} 
/* Cartão de Beneficios */
#card_atend-cli{
    border-radius: 5px;
    box-shadow: 2px 5px 8px 10px rgba(50, 50, 50, 0.22);
    padding: 10px;
    margin: 20px;
    width: 300px;
    border: 1px ;
    transition: all 0.3s ease-out;
    background: white;
}
/* Imagen do Cartão de Beneficios */
.img_atend-cli{
    width: 300px;
}

/*Produtos*/

.main_produtos{
    width: 940px;
    margin: 0 auto;
    
}
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    
}

.produtos li{
    background: white;
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;  
    margin: 0 1.5%;  
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.produtos li:hover{
    font-size: 34px;
}

.produtos li:active{
    border-color: #03a8f5;
    
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.desc_prod{
    font-size: 18px;
}
.preço_prod{
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}

/* Contato  */
.main_contato{
    width: 940px;
    margin: 0 auto;
    
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 10px 0 10px;
}

fieldset select{
    margin: 10px;
    border: 1px solid;
    background:white;
}

.input-padrao{
    border: 1px solid black;
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 60%;
    background:white;
}

#enviar_form{
    display: block;
    margin: 0 0 10px;
    padding: 10px 25px;
    width: 50%;
    font-weight: bold;
    border: none;
    background: orange;
    border-radius: 7px;
    cursor: pointer; 
    transition: 1s all;
    color: white;
}

#enviar_form:hover{
    background: darkorange;
    transform: scale(1.1);  
}

.checkbox{
    margin: 20px 0;
}

table{
    margin: 20px 0 40px;
}

thead{
    color: black;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 10px;
    margin: 10px;
    
} 

.img_footer{
    width: 90px;
    padding: 5px 0;
}

footer{
    text-align: center;
    background: url(/img/bg.jpg);
    padding: 3px 0;
}

.copyright{
    color: white;
    font-weight: bold;
    font-size: 13px;
}